.featured-item{
    color: rgb(0, 255, 234)
    color: rgb(54, 171, 203)
    text-align: center;
    margin-bottom: ;
    padding: 1rem;
    font-family: serif;
    color: #d9ff00;
    
}
<h1 style = "background-color:DodgerBlue;">Loan xih gai </h1>
<h2 style = "backkground-color: DodgerBlue;">Loan code tot </h2>
